<div role="navigation" aria-label="jumplinks">
  <a href="#formheadline" class="accessibility">Zum Inhalt springen</a>
</div>

<header aria-labelledby="bannerheadline">
  <a routerLink="/anmelden">
    <img class="title-image" src="../../images/big-logo-small.png" alt="BIG Smart Home logo">
  </a>
  <h1 class="header-title" id="bannerheadline">
    BIG Smart Home
  </h1>
  <nav aria-labelledby="navigationheadline">
    <h2 class="accessibility" id="navigationheadline">Navigation</h2>
    <ul class="navigation-list">
    </ul>
  </nav>
</header>
<div class="main-container">
  <main aria-labelledby="formheadline">
    <form class="form" method="post" action="overview.html">
      <h2 id="formheadline" class="registration-headline">Anmelden</h2>
      <div class="form-row">
        <label class="form-label" for="username-input">
          Benutzername
        </label>
        <input type="text" name="username" id="username-input" required class="form-input">
        <span id="username-error" class="error-text"></span>
      </div>
      <div class="form-row">
        <label class="form-label" for="password-input">
          Passwort
        </label>
        <input type="password" name="password" id="password-input" required class="form-input" minlength="4"
               maxlength="12">
        <span id="password-error" class="error-text"></span>
      </div>
      <div class="form-row form-row-center">
        <button class="button button-submit">
          <a routerLink="/overview">Anmelden</a>
        </button>
      </div>
    </form>
  </main>
</div>