

<header [angemeldet]='angemeldet'></header>

<div class="main-container">
  <aside class="sidebar" aria-labelledby="serverinfoheadline">
    <div class="server-info-container">
      <h2 class="accessibility" id="serverinfoheadline">Serverstatus</h2>
      <dl class="server-data properties">
        <dt class="accessibility">Serverstatus:</dt>
        <dd class="server-status">Serverstatus:</dd>
        <dt>Benutzer</dt>
        <dd>
          <span class="system-start-time">Administrator</span>
        </dd>
        <dt>Systemstartzeit</dt>
        <dd>
          <span class="system-start-time">10:00</span>
        </dd>
        <dt>Systemstartdatum</dt>
        <dd>
          <span class="system-start-datum">06.03.2017</span>
        </dd>
        <dt>Fehlgeschlagene Logins</dt>
        <dd>
          <span class="failed-logins">3</span>
        </dd>
      </dl>
    </div>
  </aside>
  <main aria-labelledby="deviceheadline" class="details-container">
    <div attr.data-device-id="19ff7d47-bd80-4a5d-adfb-bc77558facad" class="details-headline">
      <h2 class="main-headline" id="deviceheadline">Heizkörper Badezimmer</h2>
    </div>
    <div class="details-holder">

      <!-- Steuerung für kontinuierliche Werte -->
      <div class="details-outer">
        <div class="details-image-container" >
            <canvas baseChart id = "lineChart" width="757" height="379"
                    [datasets] = "lineChartData"
                    [labels] = "lineChartLabels"
                    [legend] = "lineChartLegend"
                    [chartType] = "lineChartType"
                    [colors] = "lineChartColors"
                    [options] = "lineChartOptions"></canvas>
        </div>
        <div class="details-data">
          <label class="accessibility" for="details-log">Letzte Werteänderungen</label>
          <textarea id="details-log" class="detail-logs" placeholder="Gerätelog" readonly rows="6">{{templog}}
          </textarea>
          <div class="details-settings">
            <h3 class="details-headline">Temperatur einstellen</h3>

            <form class="update-form" method="post">
              <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit: {{temp}}</span>
              </label>
              <label class="accessibility" for="new-value">Bitte gewünschten Wert eingeben.</label>
              <input type="number" #tempInput step="0.01" min="0" max="50" id="new-value" value="1"
                     class="update-form-field form-input" name="new-value" required>
              <input type="submit" (click)="onTempChangeClicked(tempInput.value)" id="submit-value" class="update-form-field button" name="submit-value"
                     value="Wert setzen">
            </form>
          </div>
        </div>
      </div>

      <!-- Steuerung für diskrete Werte -->
      <div class="details-outer">
        <div class="details-image-container">
          <img class="details-image" src="../../images/placeholder_enum.PNG">
        </div>
        <div class="details-data">
          <label class="accessibility" for="details-log">Letzte Werteänderungen</label>
          <textarea id="details-log" class="detail-logs" placeholder="Gerätelog" readonly rows="6">{{statelog}}</textarea>
          <div class="details-settings">
            <h3 class="details-headline">Gerätezustand einstellen</h3>

            <form class="update-form" method="post">
              <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit: {{state}}</span>
              </label>
              <label class="accessibility" for="new-value">Bitte gewünschten Wert aus Menü auswählen.</label>
              <select #stateSelect id="new-value" class="update-form-field form-input" name="new-value" required>
                <option>Aus</option>
                <option>Ein</option>
                <option selected>Standby</option>
              </select>
              <input type="submit" (click) = "onStateChangeClicked(stateSelect.value)" id="submit-value" class="update-form-field button" name="submit-value"
                     value="Wert setzen">
            </form>
          </div>
        </div>
      </div>

      <!-- Steuerung für boolesche Werte -->
      <div class="details-outer">
        <div class="details-image-container">
          <img class="details-image" src="../../images/placeholder_boolean.PNG">
        </div>
        <div class="details-data">
          <label class="accessibility" for="details-log">Letzte Werteänderungen</label>
          <textarea id="details-log" class="detail-logs" placeholder="Gerätelog" readonly rows="6">{{activelog}}</textarea>
          <div class="details-settings">
            <h3 class="details-headline">Ein-/Ausschalten</h3>

            <form class="update-form" method="post">

              <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit: {{active}}</span>
              </label>

              <label class="accessibility" for="new-value">Bitte gewünschten Wert auswählen.</label>
              <input type="checkbox" #deviceOnOff id="new-value" class="update-checkbox-input form-input" checked
                     name="new-value">
              <input type="submit" (click)="onOnOffButtonClicked(deviceOnOff.checked)"  id="submit-value" class="update-form-field button" name="submit-value"
                     value="Wert setzen">
            </form>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>