<div role="navigation" aria-label="jumplinks">
  <a href="#devicesheadline" class="accessibility">Zum Inhalt springen</a>
</div>

<header [angemeldet]='angemeldet'></header>

<div class="main-container">
  <aside class="sidebar" aria-labelledby="serverinfoheadline">
    <asidePartial></asidePartial>
  </aside>
  <main aria-labelledby="deviceheadline" class="details-container">
    <div attr.data-device-id="19ff7d47-bd80-4a5d-adfb-bc77558facad" class="details-headline">
      <h2 class="main-headline" id="deviceheadline">Heizkörper Badezimmer</h2>
    </div>
    <div class="details-holder">

      <!-- Steuerung für kontinuierliche Werte -->
      <line-graph></line-graph>
      <!-- Steuerung für diskrete Werte -->
      <polar-area-graph></polar-area-graph>
      <!-- Steuerung für boolesche Werte -->
      <doughnut-graph></doughnut-graph>
    </div>

  </main>
</div>