<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>BIG Smart Home - Optionen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../styles/style.css">
</head>
<body data-decimal-separator="," data-grouping-separator=".">

<div role="navigation" aria-label="jumplinks">
  <a href="#deviceheadline" class="accessibility">Zum Inhalt springen</a>
</div>

<header aria-labelledby="bannerheadline">
  <a href="overview.html"><img class="title-image" src="../../images/big-logo-small.png" alt="BIG Smart Home logo"></a>

  <h1 class="header-title" id="bannerheadline">
    BIG Smart Home
  </h1>
  <nav aria-labelledby="navigationheadline">
    <h2 class="accessibility" id="navigationheadline">Navigation</h2>
    <ul class="navigation-list">
      <li class="nav-items">
        <ul>
          <li>
            <a href="options.html" class="button" accesskey="2">Optionen</a>
          </li>
          <li>
            <a href="login.html" class="button" accesskey="1">Abmelden</a>
          </li>
        </ul>
      </li>
      <li class="overflow-icon">
        <a href="#" class="button" accesskey="1">☰</a>
      </li>
    </ul>
  </nav>
</header>
<div class="main-container">

  <aside class="sidebar" aria-labelledby="serverinfoheadline">
    <div class="server-info-container">
      <h2 class="accessibility" id="serverinfoheadline">Serverstatus</h2>
      <dl class="server-data properties">
        <dt class="accessibility">Serverstatus:</dt>
        <dd class="server-status">Serverstatus:</dd>
        <dt>Benutzer</dt>
        <dd>
          <span class="system-start-time">Administrator</span>
        </dd>
        <dt>Systemstartzeit</dt>
        <dd>
          <span class="system-start-time">10:00</span>
        </dd>
        <dt>Systemstartdatum</dt>
        <dd>
          <span class="system-start-datum">06.03.2017</span>
        </dd>
        <dt>Fehlgeschlagene Logins</dt>
        <dd>
          <span class="failed-logins">3</span>
        </dd>
      </dl>
    </div>
  </aside>
  <main aria-labelledby="deviceheadline" class="details-container">
    <div attr.data-device-id="19ff7d47-bd80-4a5d-adfb-bc77558facad" class="details-headline">
      <h2 class="main-headline" id="deviceheadline">Heizkörper Badezimmer</h2>
    </div>
    <div class="details-holder">

      <!-- Steuerung für kontinuierliche Werte -->
      <div class="details-outer">
        <div class="details-image-container">
          <img class="details-image" src="../../images/placeholder_continuous.PNG">
        </div>
        <div class="details-data">
          <label class="accessibility" for="details-log">Letzte Werteänderungen</label>
          <textarea id="details-log" class="detail-logs" placeholder="Gerätelog" readonly rows="6">6.3.2017 10:01:30: 20 -> 25
          </textarea>
          <div class="details-settings">
            <h3 class="details-headline">Temperatur einstellen</h3>

            <form class="update-form" method="post">
              <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit: 0</span>
              </label>
              <label class="accessibility" for="new-value">Bitte gewünschten Wert eingeben.</label>
              <input type="number" step="0.01" min="0" max="50" id="new-value" value="1"
                     class="update-form-field form-input" name="new-value" required>
              <input type="submit" id="submit-value" class="update-form-field button" name="submit-value"
                     value="Wert setzen">
            </form>
          </div>
        </div>
      </div>

      <!-- Steuerung für diskrete Werte -->
      <div class="details-outer">
        <div class="details-image-container">
          <img class="details-image" src="../../images/placeholder_enum.PNG">
        </div>
        <div class="details-data">
          <label class="accessibility" for="details-log">Letzte Werteänderungen</label>
          <textarea id="details-log" class="detail-logs" placeholder="Gerätelog" readonly rows="6">6.3.2017 10:02:32: Ein -> Standby</textarea>
          <div class="details-settings">
            <h3 class="details-headline">Gerätezustand einstellen</h3>

            <form class="update-form" method="post">
              <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit: Standby</span>
              </label>
              <label class="accessibility" for="new-value">Bitte gewünschten Wert aus Menü auswählen.</label>
              <select id="new-value" class="update-form-field form-input" name="new-value" required>
                <option>Aus</option>
                <option>Ein</option>
                <option selected>Standby</option>
              </select>
              <input type="submit" id="submit-value" class="update-form-field button" name="submit-value"
                     value="Wert setzen">
            </form>
          </div>
        </div>
      </div>

      <!-- Steuerung für boolesche Werte -->
      <div class="details-outer">
        <div class="details-image-container">
          <img class="details-image" src="../../images/placeholder_boolean.PNG">
        </div>
        <div class="details-data">
          <label class="accessibility" for="details-log">Letzte Werteänderungen</label>
          <textarea id="details-log" class="detail-logs" placeholder="Gerätelog" readonly rows="6">6.3.2017 10:03:30: Aus -> An</textarea>
          <div class="details-settings">
            <h3 class="details-headline">Ein-/Ausschalten</h3>

            <form class="update-form" method="post">

              <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit: Aktiviert</span>
              </label>

              <label class="accessibility" for="new-value">Bitte gewünschten Wert auswählen.</label>
              <input type="checkbox" id="new-value" class="update-checkbox-input form-input" checked
                     name="new-value">
              <input type="submit" id="submit-value" class="update-form-field button" name="submit-value"
                     value="Wert setzen">
            </form>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>
<footer>
  © 2017 BIG Smart Home
</footer>
</body>
</html>
