<div role="navigation" aria-label="jumplinks">
  <a href="#devicesheadline" class="accessibility">Zum Inhalt springen</a>
</div>

<header aria-labelledby="bannerheadline">
  <a routerLink="/overview"><img class="title-image" src="../../images/big-logo-small.png" alt="BIG Smart Home logo"></a>

  <h1 class="header-title" id="bannerheadline">
    BIG Smart Home
  </h1>
  <nav aria-labelledby="navigationheadline">
    <h2 class="accessibility" id="navigationheadline">Navigation</h2>
    <ul class="navigation-list">
      <li class="nav-items">
        <ul>
          <li>
            <a routerLink="/options" class="button" accesskey="2">Optionen</a>
          </li>
          <li>
            <a routerLink="/anmelden" class="button" accesskey="1">Abmelden</a>
          </li>
        </ul>
      </li>
      <li class="overflow-icon">
        <a href="#" class="button" accesskey="1">☰</a>
      </li>
    </ul>
  </nav>
</header>
<div class="main-container">
  <aside class="sidebar" aria-labelledby="serverinfoheadline">
    <div class="server-info-container">
      <h2 class="accessibility" id="serverinfoheadline">Serverstatus</h2>
      <dl class="server-data properties">
        <dt class="accessibility">Serverstatus:</dt>
        <dd class="server-status">Serverstatus:</dd>
        <dt>Benutzer</dt>
        <dd>
          <span class="system-start-time">Administrator</span>
        </dd>
        <dt>Systemstartzeit</dt>
        <dd>
          <span class="system-start-time">10:00</span>
        </dd>
        <dt>Systemstartdatum</dt>
        <dd>
          <span class="system-start-datum">06.03.2017</span>
        </dd>
        <dt>Fehlgeschlagene Logins</dt>
        <dd>
          <span class="failed-logins">3</span>
        </dd>
      </dl>
    </div>
  </aside>
  <main aria-labelledby="devicesheadline">
    <h2 class="main-headline" id="devicesheadline">Geräte</h2>
    <div class="devices">
      <div class="device-outer" data-device-id="a79acab4-e88b-11e6-bf01-fe55135034f3">
        <a routerLink="/details" class="device"
           title="Genauere Informationen zu diesem Thermometer">
          <dl class="device-properties">
            <dt>Anzeigename</dt>
            <dd class="device-displayname">Heizkörper Esszimmer</dd>
            <dt>Gerätetyp</dt>
            <dd class="device-type">Heizkörperthermostat</dd>
            <dt>Gerätename</dt>
            <dd class="device-name">eQ-3 Smart</dd>
          </dl>
          <div class="device-image-container">
            <img class="device-image" width="180" height="180" src="../../images/thermometer.svg"
                 alt="Temperaturstand als Bild">
          </div>
        </a>
        <ul class="device-actions">
          <li><a href=""><img class="device-edit" src="../../images/edit.png" alt="edit device"></a></li>
          <li><a href=""><img class="device-remove" src="../../images/remove.png" alt="remove device"></a></li>
        </ul>
      </div>
      <div class="device-outer" data-device-id="19ff7d47-bd80-4a5d-adfb-bc77558facad">
        <a routerLink="/details" class="device"
           title="Genauere Informationen zu diesem Thermometer">

          <div class="device-image-container">
            <img class="device-image" width="180" height="180" src="../../images/thermometer.svg"
                 alt="Temperaturstand als Bild">
          </div>
          <dl class="device-properties">
            <dt>Anzeigename</dt>
            <dd class="device-displayname">Heizkörper Badezimmer</dd>
            <dt>Gerätetyp</dt>
            <dd class="device-type">Heizkörperthermostat</dd>
            <dt>Gerätename</dt>
            <dd class="device-name">eQ-3 Smart</dd>
          </dl>
        </a>
        <ul class="device-actions">
          <li><a href=""><img class="device-edit" src="../../images/edit.png" alt="edit device"></a></li>
          <li><a href=""><img class="device-remove" src="../../images/remove.png" alt="remove device"></a></li>
        </ul>
      </div>
      <div class="device-outer" data-device-id="38acc35d-40cc-4d56-bccd-da7da5c20cc4">
        <a href="details.html" class="device"
           title="Genauere Informationen zu diesem Beleuchtungselement">
          <dl class="device-properties">
            <dt>Anzeigename</dt>
            <dd class="device-displayname">Beleuchtung Außen</dd>
            <dt>Gerätetyp</dt>
            <dd class="device-type">Glühbirne</dd>
            <dt>Gerätename</dt>
            <dd class="device-name">Osram Lightify</dd>
          </dl>

          <div class="device-image-container">
            <img class="device-image" width="180" height="180" src="../../images/bulb.svg" alt="deaktivierte Glühbirne">
          </div>
        </a>
        <ul class="device-actions">
          <li><a href=""><img class="device-edit" src="../../images/edit.png" alt="edit device"></a></li>
          <li><a href=""><img class="device-remove" src="../../images/remove.png" alt="remove device"></a></li>
        </ul>
      </div>
      <div class="device-outer" data-device-id="11dfe2fd-c0e8-44cb-b788-6eec3e509236">
        <a href="details.html" class="device"
           title="Genauere Informationen zu diesem Beleuchtungselement">
          <div class="device-image-container">
            <img class="device-image" width="180" height="180" src="../../images/bulb.svg" alt="aktivierte Glühbirne">
          </div>
          <dl class="device-properties">
            <dt>Anzeigename</dt>
            <dd class="device-displayname">Beleuchtung Küche</dd>
            <dt>Gerätetyp</dt>
            <dd class="device-type">Glühbirne</dd>
            <dt>Gerätename</dt>
            <dd class="device-name">Playbulb Smart</dd>
          </dl>
        </a>
        <ul class="device-actions">
          <li><a href=""><img class="device-edit" src="../../images/edit.png" alt="edit device"></a></li>
          <li><a href=""><img class="device-remove" src="../../images/remove.png" alt="remove device"></a></li>
        </ul>
      </div>
      <div class="device-outer" data-device-id="2c4380ad-42cc-450f-abab-2f09a3284e35">
        <a href="details.html" class="device"
           title="Genauere Informationen zu dieser Webcam">
          <dl class="device-properties">
            <dt>Anzeigename</dt>
            <dd class="device-displayname">Kamera Vordertür</dd>
            <dt>Gerätetyp</dt>
            <dd class="device-type">Überwachungskamera</dd>
            <dt>Gerätename</dt>
            <dd class="device-name">ABUS Funk-Außenkamera TVAC16010A</dd>
          </dl>
          <div class="device-image-container">
            <img class="device-image" width="180" height="180" src="../../images/webcam.svg" alt="aktivierte Kamera">
          </div>
        </a>
        <ul class="device-actions">
          <li><a href=""><img class="device-edit" src="../../images/edit.png" alt="edit device"></a></li>
          <li><a href=""><img class="device-remove" src="../../images/remove.png" alt="remove device"></a></li>
        </ul>
      </div>
      <div class="device-outer" data-device-id="fe975956-1a79-4cad-b720-a118abab2a9f">
        <a href="details.html" class="device"
           title="Genauere Informationen zu dieser Webcam">
          <div class="device-image-container">
            <img class="device-image" width="180" height="180" src="../../images/webcam.svg" alt="deaktivierte Kamera">
          </div>
          <dl class="device-properties">
            <dt>Anzeigename</dt>
            <dd class="device-displayname">Kamera Wohnzimmer</dd>
            <dt>Gerätetyp</dt>
            <dd class="device-type">Webcam</dd>
            <dt>Gerätename</dt>
            <dd class="device-name">HiKam S5</dd>
          </dl>
        </a>
        <ul class="device-actions">
          <li><a href=""><img class="device-edit" src="../../images/edit.png" alt="edit device"></a></li>
          <li><a href=""><img class="device-remove" src="../../images/remove.png" alt="remove device"></a></li>
        </ul>
      </div>

      <div class="device-outer" data-device-id="c5a830e2-d089-427a-aaf8-5986753082aa">
        <a href="details.html" class="device"
           title="Genauere Informationen zu diesem Rollladen">
          <div class="device-image-container">
            <img class="device-image" width="180" height="180" src="../../images/roller_shutter.svg"
                 alt="geschlossener Rollladen">
          </div>
          <dl class="device-properties">
            <dt>Anzeigename</dt>
            <dd class="device-displayname">Rollladen Wohnzimmer</dd>
            <dt>Gerätetyp</dt>
            <dd class="device-type">Rollladen</dd>
            <dt>Gerätename</dt>
            <dd class="device-name">Somfy RS100 io</dd>
          </dl>
        </a>
        <ul class="device-actions">
          <li><a href=""><img class="device-edit" src="../../images/edit.png" alt="edit device"></a></li>
          <li><a href=""><img class="device-remove" src="../../images/remove.png" alt="remove device"></a></li>
        </ul>
      </div>
      <div class="device-outer" data-device-id="f4ba6c3f-8a2c-4438-8b8d-d94084125134">
        <a href="details.html" class="device"
           title="Genauere Informationen zu diesem Rollladen">
          <div class="device-image-container">
            <img class="device-image" width="180" height="180" src="../../images/roller_shutter.svg"
                 alt="halb geöffneter Rollladen">
          </div>
          <dl class="device-properties">
            <dt>Anzeigename</dt>
            <dd class="device-displayname">Rollladen Wohnzimmer</dd>
            <dt>Gerätetyp</dt>
            <dd class="device-type">Rollladen</dd>
            <dt>Gerätename</dt>
            <dd class="device-name">Somfy RS100 io</dd>
          </dl>
        </a>
        <ul class="device-actions">
          <li><a href=""><img class="device-edit" src="../../images/edit.png" alt="edit device"></a></li>
          <li><a href=""><img class="device-remove" src="../../images/remove.png" alt="remove device"></a></li>
        </ul>
      </div>

    </div>
  </main>
</div>
<footer>
  © 2017 BIG Smart Home
</footer>